# El '*' indica que estas personas son dueñas de todos los archivos del repo
# Cuando abras un PR, GitHub les pedirá su revisión automáticamente.

* @CNUNPER @crisqui9409 @jbarreto-periferia @mgarciap-code @NMelendezC