@font-face {
    font-family: "jost-bold";
    src: url("/fonts/Jost/static/Jost-Bold.woff2");
    font-display: swap;
}

@font-face {
  font-family: 'jost-semibold';
  src: url('/fonts/Jost/static/Jost-SemiBold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jost-medium';
  src: url('/fonts/Jost/static/Jost-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jost-regular';
  src: url('/fonts/Jost/static/Jost-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-medium';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-italic';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-ultralight';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-regular';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-bold';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'jakarta-semibold';
  src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.woff2');
  font-display: swap;
}
