<div class="checkbox-btn" [class.error]="error()" [class.indeterminate]="indeterminate()">
  <label [for]="name()" class="checkbox-container" [class.disabled]="disabled()">
    <input
      #inputEl
      type="checkbox"
      [id]="name()"
      [name]="name()"
      [value]="value()"
      [checked]="checked()"
      [disabled]="disabled()"
      (change)="onChange($event)"
    />
    <span class="checkmark"></span>
  </label>
 
  @if (showSideText()) {
    <p class="side-text body-sm-medium" [class.disabled]="disabled()">{{ sideText() }}</p>
  }
</div>