<div [class]="containerClass()" [hidden]="!visible()" [attr.aria-hidden]="!visible()">
  <div class="spinner__content" role="status" [attr.aria-label]="ariaLabel()">
    <div [class]="indicatorClass()">

      <span class="spinner__segment spinner__segment--1"></span>
      <span class="spinner__segment spinner__segment--2"></span>
      <span class="spinner__segment spinner__segment--3"></span>
      <span class="spinner__segment spinner__segment--4"></span>
      <span class="spinner__segment spinner__segment--5"></span>
      <span class="spinner__segment spinner__segment--6"></span>
      <span class="spinner__segment spinner__segment--7"></span>
      <span class="spinner__segment spinner__segment--8"></span>

    </div>
  </div>
</div>